h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya Sans";
}

p,
th,
td {
  font-family: "Open Sans";
}

.jumbotron {
  background: #114b5f;
}

.card-header {
  background: #1a936f;
}

.btn-primary {
  background: #114b5f;
}
