h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alegreya Sans";
}

p,
th,
td {
  font-family: "Open Sans";
}

.jumbotron {
  background: #114b5f;
}

.card-header {
  background: #1a936f;
}

.form-group {
  margin-bottom: 0;
}

.btn-primary {
  background: #114b5f;
  border: white;
  margin-top: 0.6rem;
}

.btn-primary:hover {
  background: #114b5f;
  opacity: 0.9;
  cursor: pointer;
}
